    <!-- //// Agronometrics //// -->
    <div class="row work-display fade-in one">

      <div class="work-shot">
        <header>
          <h3 class="subtitle">#01</h3>
          <h1 class="title">Página Principal</h1>
        </header>
        <img class="img-responsive center-block" src="img/img-agro-main-1.jpg">
      </div>


      <div class="work-shot">
        <header>
          <h3 class="subtitle">#02</h3>
          <h1 class="title">Precios de Planes</h1>
        </header>
        <img class="img-responsive center-block" src="img/img-agro-main-2.jpg">
      </div>


      <div class="work-shot">
        <header>
          <h3 class="subtitle">#03</h3>
          <h1 class="title">Página del Sistema</h1>
        </header>
        <img class="img-responsive center-block" src="img/img-agro-syst-1.jpg">
      </div>


      <div class="work-shot">
        <header>
          <h3 class="subtitle">#04</h3>
          <h1 class="title">Reportes en PDF</h1>
        </header>
        <a href="docs/blueberry_analysis.pdf"><img class="img-responsive center-block" src="img/img-agro-pdf-1.jpg"></a>
        <a href="docs/avocado_analysis.pdf"><img class="img-responsive center-block" src="img/img-agro-pdf-2.jpg"></a>
      </div>


      <div class="work-shot">
        <header>
          <h3 class="subtitle">#05</h3>
          <h1 class="title">Newsletters</h1>
        </header>
        <img class="img-responsive center-block" src="img/img-agro-mail-1.jpg">
        <img class="img-responsive center-block" src="img/img-agro-mail-2.jpg">
        <img class="img-responsive center-block" src="img/img-agro-mail-3.jpg">
      </div>
      <div class="col-md-6 col-md-offset-3 next-work">
        <a class="btn btn-primary btn-block animsition-link" href="#/prettylist" role="button">Siguiente "Pretty List" &raquo;</a>
      </div>

    </div>
