    <!-- //// Ataraxia //// -->
    <div class="row work-display fade-in one">

      <div class="work-shot">
        <header>
          <h3 class="subtitle">#01</h3>
          <h1 class="title">Página Principal</h1>
          <a href="http://ataraxia.io" target="_blank">http://ataraxia.io <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        </header>
        <img class="img-responsive center-block" src="img/img-ataraxia-1.jpg">
      </div>

      <div class="col-md-6 col-md-offset-3 next-work">
        <a class="btn btn-primary btn-block animsition-link" href="#/santiago" role="button">Siguiente "Santiago se Atreve" &raquo;</a>
      </div>
    </div>
