    <!-- //// Expertos en color //// -->
    <div class="row work-display fade-in one">

      <div class="work-shot">
        <header>
          <h3 class="subtitle">#01</h3>
          <h1 class="title">Propuestas Fan Page</h1>
        </header>
        <img class="img-responsive center-block" src="img/img-expertos-1.jpg">
      </div>

      <div class="work-shot">
        <img class="img-responsive center-block" src="img/img-expertos-2.jpg">
      </div>

      <div class="work-shot">
        <header>
          <h3 class="subtitle">#02</h3>
          <h1 class="title">Propuesta final</h1>
        </header>
        <img class="img-responsive center-block" src="img/img-expertos-3.jpg">
      </div>
      <div class="col-md-6 col-md-offset-3 next-work">
        <a class="btn btn-primary btn-block animsition-link" href="/" role="button">Volver al inicio</a>
      </div>

    </div>
