    <!-- //// Pretty List //// -->
    <div class="row work-display fade-in one">

      <div class="work-shot">
        <header>
          <h3 class="subtitle">#01</h3>
          <h1 class="title">Página Principal</h1>
        </header>
        <img class="img-responsive center-block" src="img/img-pretty-1.jpg">
      </div>


      <div class="work-shot">
        <header>
          <h3 class="subtitle">#02</h3>
          <h1 class="title">Detalle del Producto</h1>
        </header>
        <img class="img-responsive center-block" src="img/img-pretty-2.jpg">
      </div>


      <div class="work-shot">
        <header>
          <h3 class="subtitle">#03</h3>
          <h1 class="title">Confirmación de correo</h1>
        </header>
        <img class="img-responsive center-block" src="img/img-pretty-3.jpg">
      </div>

      <div class="col-md-6 col-md-offset-3 next-work">
        <a class="btn btn-primary btn-block animsition-link" href="#/ssa" role="button">Siguiente "Santiago se Atreve" &raquo;</a>
      </div>

    </div>

